<inst-header-component [headerComponentTitle]="headerComponentTitle"></inst-header-component>
<inst-vacancy-card
    [labelTitle]="'New'"
    [content]="'Sales Manager(Shopping Mall \'Krab\', Shopping Mall \'Reew Gosh\', Shopping Mall \'New Way\')'"
    [contentSubtitle]="'10 000 - 15 000$ per month'"
    [contentSubtitleAlias]="'+ 15% Welcome Bonus'"
    [contentLocation]="'Sidney'"
    [contentCompany]="'FISHKI.UA'"
    [benefitsMeals]="'Free meals'"
    [benefitsTime]="'Flexible Schedule'"
    [benefitsGym]="'Gym Ticket'"
    [footerTiming]="'37 min. ago'">
</inst-vacancy-card>
