<inst-header-component [headerComponentTitle]="headerComponentTitle"></inst-header-component>
<inst-vacancy-card
    *ngFor="let vacancy of vacancies"
    [labelTitle]="vacancy.labelTitle"
    [content]="vacancy.content"
    [contentSubtitle]="vacancy.contentSubtitle"
    [contentSubtitleAlias]="vacancy.contentSubtitleAlias"
    [contentLocation]="vacancy.contentLocation"
    [contentCompany]="vacancy.contentCompany"
    [benefitsMeals]="vacancy.benefitsMeals"
    [benefitsTime]="vacancy.benefitsMeals"
    [benefitsGym]="vacancy.benefitsGym"
    [footerTiming]="vacancy.footerTiming"
    [dislikeImgSrc]="vacancy.dislikeImgSrc"
    [favoriteVacancyImgPath]="vacancy.favoriteVacancyImgPath"
    (dislikeEvent)="vacancy.dislikeEvent()"
    (makeFavorite)="vacancy.makeFavorite()">
</inst-vacancy-card>
<inst-directives>111</inst-directives>
<inst-ui></inst-ui>