<div class="vacancyCard">
    <div class="vacancyCard_header"></div>

    <div class="vacancyCard_content">
        <label class="vacancyCard_content_label" for="release">{{ labelTitle }}</label>
        <div class="vacancyCard_content_container">
            <div class="vacancyCard_content_title">
                <h4>{{ content }}</h4>
                <span> </span>
            </div>
            <p class="vacancyCard_content_subtitle">
                {{ contentSubtitle }} <span>{{ contentSubtitleAlias }}</span>
            </p>
            <p class="vacancyCard_content_location">
                <span>{{ contentCompany }}</span> {{ contentLocation }}
            </p>
            <div class="vacancyCard_content_benefits">
                <span> {{ benefitsMeals }} </span>
                <span> {{ benefitsTime }} </span>
                <span> {{ benefitsGym }} </span>
            </div>
        </div>
    </div>

    <div class="vacancyCard_footer">
        <div class="vacancyCard_footer_socials">
            <span>
                <img src="../../assets/vacancyCard/checked.svg" alt="checked" />
            </span>
            <button (click)="handleReply()">Reply</button>
            {{ output }}
            <input (input)="handleInputValue($event)" type="text" />
            <span>
                <img src="../../assets/vacancyCard/star.svg" alt="star" />
            </span>
            <span (click)="dislikeHandler()">
                <img [src]="dislikeImgSrc" alt="dislike" />
            </span>
        </div>
        <div class="vacancyCard_footer_timing">{{ footerTiming }}</div>
    </div>
</div>
