<div class="vacancyCard">
    <div class="vacancyCard_header"></div>

    <div class="vacancyCard_content">
        <label class="vacancyCard_content_label" for="release">{{ labelTitle }}</label>
        <div class="vacancyCard_content_container">
            <div class="vacancyCard_content_title">
                <h4>{{ content }}</h4>
                <span> </span>
            </div>
            <p class="vacancyCard_content_subtitle">
                {{ contentSubtitle }} <span>{{ contentSubtitleAlias }}</span>
            </p>
            <p class="vacancyCard_content_location">
                <span>{{ contentCompany | uppercase }}</span> {{ contentLocation }}
            </p>
            <div class="vacancyCard_content_benefits">
                <span> {{ benefitsMeals }} </span>
                <span> {{ benefitsTime }} </span>
                <span> {{ benefitsGym }} </span>
                <span> {{ testValue$ | async }} </span>
                <button (click)="handleInc()"> Increase </button>
                <button (click)="handleDec()"> Decrease </button>
            </div>
        </div>
    </div>

    <div class="vacancyCard_footer">
        <div class="vacancyCard_footer_socials">
            <span>
                <img src="../../assets/vacancyCard/checked.svg" alt="checked" />
            </span>
            <button (click)="handleReply()">Reply</button>
            <!-- <input (input)="handleInputValue($event)" type="text" id="inputForm" [formControl]="inputForm" /> -->

            <form [formGroup]="inputForm" (ngSubmit)='handleSubmit()'>
                <label>Email: </label>
                <input id="email" type="text" formControlName="email">

                <label>Password:</label>
                <input id="password" type="text" formControlName="password">
                <button type="submit">Send</button>
                <div *ngIf="email!.invalid && email!.dirty && email!.touched">ERROR!</div>
                <div *ngIf="email!.errors?.['required']">Required</div>
                <div *ngIf="email!.errors?.['pattern']">Pattern</div>
            </form>

            <span (click)="makeVacancyFavorite()">
                <img *ngIf="!favoriteVacancyImgPath" src="../../assets/vacancyCard/star.svg" alt="star" />
                <img *ngIf="favoriteVacancyImgPath" src="../../assets/vacancyCard/likedStar.svg" alt="star" />
            </span>
            <span (click)="dislikeHandler()">
                <img *ngIf="!dislikeImgSrc" src="../../assets/vacancyCard/dislike.svg" alt="dislike" />
                <img *ngIf="dislikeImgSrc" src="../../assets/vacancyCard/dislikeClicked.svg" alt="dislike" />
            </span>
        </div>
        <div class="vacancyCard_footer_timing">{{ footerTiming }}</div>
    </div>
</div>