<div class="vacancyCard">
    <div class="vacancyCard_header"></div>

    <div class="vacancyCard_content">
        <label class="vacancyCard_content_label" for="release">New</label>
        <div class="vacancyCard_content_container">
            <div class="vacancyCard_content_title">
                <h4>Sales Manager(Shopping Mall "Krab", Shopping Mall "Reew Gosh", Shopping Mall "New Way")</h4>
                <span> </span>
            </div>
            <p class="vacancyCard_content_subtitle">10 000 - 15 000$ per month <span>+ 15% Welcome Bonus</span></p>
            <p class="vacancyCard_content_location"><span>FISHKI.UA</span> Sidney</p>
            <div class="vacancyCard_content_benefits">
                <span> Free meals </span>
                <span> Flexible Schedule </span>
                <span> Gym Ticket </span>
            </div>
        </div>
    </div>

    <div class="vacancyCard_footer">
        <div class="vacancyCard_footer_socials">
            <span>
                <img src="../../assets/vacancyCard/checked.svg" alt="checked" />
            </span>
            <p>Reply</p>
            <span>
                <img src="../../assets/vacancyCard/star.svg" alt="star" />
            </span>
            <span>
                <img src="../../assets/vacancyCard/dislike.svg" alt="dislike" />
            </span>
        </div>
        <div class="vacancyCard_footer_timing">37 min. ago</div>
    </div>
</div>
